/* App.css */

/* Existing styles... */

/* 
* {
  border: 2px solid green;
} */
.users-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  height: 90vh;
}

@media (max-width: 1052px) {
  .users-container {
    margin-top:150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; /* Add this line to center items */
  }
  a {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 560px) {
  .users-container {
    margin-top: 80px;
    scale: 80%;
  }
}



