.user-selection {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}

.add-remove-profiles {
  display: flex;
  justify-content: flex-end;
  font-size: .7em;
  color: white;
  margin-right: 3em;
  padding: 0px;
}

.add-profile {
  margin-right: 2em;
}

.add-profile, .remove-profile {
  position: relative;
}

.add-profile::after, .remove-profile::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.add-profile:hover::after, .remove-profile:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.users-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  height: 50vh;
}

@media (max-width: 1052px) {
  .users-container {
    /* margin-top: 30px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; /* Add this line to center items */
  }
  a {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 560px) {
  .users-container {
    /* margin-top: 80px; */
    scale: 80%;
  }
}



