/* * {
  border: 1px solid black;
} */

.header-container {
  display: flex;
}
.entire-page {
  display: flex;
  flex-direction: column;
  height: 80%;
  padding-top: 450px;
  color: white;
}

.selected-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;

}

.selected-game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: rgba(109, 156, 243, 0.5);
  border-radius: 1em;
  min-width: 300px;
  margin-bottom: 50px;
}

.back-button {
  margin-top: 10px;
  transition: transform .5s;
}

.selected-game-image {
  height: 20em;
}

.categories {
  width: 80%;
}

.above-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-title, .players, .rating {
  width: 60%;
  margin: 0px;
  margin-bottom: .3em;
}

.game-title {
  margin-top: .5em;
}

.selected-game-instructions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50%;
  background-color: rgba(109, 156, 243, 0.5);
  border-radius: 1em;
  overflow: scroll;
  min-height: 500px;
  min-width: 300px;
}

/* App.css */

/* Existing styles... */

.game-instructions {
  display: flex;
  align-items: column;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow-x: auto;
  word-wrap: break-word;
  text-size-adjust: auto;
  font-size: 1em;
  font-weight: bold;
  padding-right: 18px;
}

/* WebKit scrollbar styling for dark grey */
.game-instructions::-webkit-scrollbar {
  width: 12px;
}

.game-instructions::-webkit-scrollbar-thumb {
  background-color: #333; /* Dark grey color for the thumb */
  border-radius: 6px;
}

.game-instructions::-webkit-scrollbar-track {
  background-color: #eee; /* Light grey color for the track */
  border-radius: 6px;
}

/* Additional styles... */


.transparent-star {
  opacity: .5;
}

.selected-favorite-button {
transition: transform .5s;
margin-top: 13px;
margin-left: 10px;
}

.selected-favorite-button:hover, .back-button:hover {
  transform: scale(1.2);
}

.wrap-buttons {
  display: flex;
  justify-content: center;
  height: 4em;
}

.previous-next-buttons {
  width: 20%;
  display: flex;
  justify-content: center;
  margin-right: 10em;
}

.previous, .next {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previous:hover, .next:hover {
  color: rgba(109, 156, 243);
}

.previous {
  margin-right: 2em;
}

.previous-train {
  transform: scaleX(-1);
}


a {
  color: inherit;
  text-decoration: inherit;
}

.text {
  font-weight: bold;
  font-size: .7em;
}

@media (max-width: 1000px) {
  .selected-game-container{
    flex-direction: column;
    margin-bottom: 300px;
  }
  .previous-next-buttons {
    width: 20%;
    display: flex;
    justify-content: center;
    margin-right: 0
  }


}

