.carousel {
  overflow-x: auto;
}
.saved-carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.navigation-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  user-select: none;
  transition: background-color 0.3s;
}

.navigation-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.left {
  left: 10px;
  z-index: 1;
}

.right {
  right: 10px;
}
